{% extends 'layout.html' %}

{% block title %}

    Edit Campaign

{% endblock %}

{% block content %}

    <h1 class="display-6">Edit Campaign</h1>

    <form action="" method="post" class="form">
        <div class="form-group">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" id="title" class="form-control" value="{{campaign.title}}" required>
        </div>
        <div class="form-group">
            <label for="description" class="form-label">Description</label>
            <input type="text" name="description" id="description" class="form-control" value="{{campaign.description}}">
        </div>
        <div class="form-group">
            <label for="start_date" class="form-label">Start Date</label>
            <input type="date" name="start_date" id="start_date" class="form-control" value="{{(campaign.start_date|string)[:10]}}">
        </div>
        <div class="form-group">
            <label for="end_date" class="form-label">End Date</label>
            <input type="date" name="end_date" id="end_date" class="form-control" value="{{(campaign.end_date|string)[:10]}}">
        </div>
        <div class="form-group">
            <label for="budget" class="form-label">Budget</label>
            <input type="number" name="budget" id="budget" min="0" class="form-control" value="{{campaign.budget}}" required>
        </div>
        <div class="form-group">
            <label for="category" class="form-label">Category</label>
            <input type="text" name="category" id="category" class="form-control" value="{{campaign.category}}">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="visibility" value="Private" id="private">
            <label class="form-check-label" for="private">
                Private
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="visibility" value="Public" id="public" checked>
            <label class="form-check-label" for="public">
                Public
            </label>
        </div>
        <button type="submit" class="btn btn-success">
            Update
        </button>
    </form>

{% endblock %}