{% extends 'layout.html' %}
{% block title %}
    Negotiations
{% endblock %}

{% block content %}
<h1 class="display-4">Negotiations</h1>
<table class="table">
    <thead>
        <tr>
            <th>Request ID</th>
            <th>Campaign Name</th>
            <th>Influencer Username</th>
            <th>New Ask</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for campaign in campaigns %}
        {% if not campaign.flag %}
        {% if campaign.status == 'pending' %}
        {% for request in campaign.ad_requests_bysponsor %}
        {% if not request.influencer.flag %}
        {% if request.status == 'In Negotiation' %}
        
        <tr>
            <td>{{request.id}}</td>
            <td>{{request.campaign_title}}</td>
            <td>{{request.influencer_name}}</td>
            <td>&#8377;{{request.payment}}</td>
            <td>
                <a href="{{url_for('view_request_sponsor_bysponsor', request_id=request.id)}}" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                    View
                </a>
                <a href="{{url_for('accept_negotiated_request_dashboard', request_id=request.id)}}" class="btn btn-success">
                    <i class="fa-sharp fa-solid fa-check" ></i>
                    Accept
                </a>
                <a href="{{url_for('reject_negotiated_request_dashboard', request_id=request.id)}}" class="btn btn-danger">
                    <i class="fa-solid fa-xmark"></i>
                    Reject
                </a>    
            </td>
        </tr>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}