{% extends 'layout.html' %}

{% block title %}

    View Request

{% endblock %}

{% block content %}
    <p><strong>Campaign : </strong>{{request.campaign_title}}</p>
    <p><strong>Influencer's Username : </strong>{{request.influencer_name}}</p>
    <p><strong>Requirements : </strong>{{request.requirements}}</p>
    <p><strong>Payment : </strong>&#8377;{{request.payment}}</p>
    {% if request.status == 'pending' or request.status == 'In Negotiation' %}
    <p><strong>Status : </strong>Pending</p>
    {% endif %}
    {% if request.status == 'Negotiated' %}
    <p><strong>Status : </strong>Accepted</p>
    {% endif %}
    {% if request.status == 'Negotiation Rejected' %}
    <p><strong>Status : </strong>Rejected</p>
    {% endif %}
    {% if request.status == 'Accepted' or request.status == 'Rejected' %}
    <p><strong>Status : </strong>{{request.status}}</p>
    {% endif %}

 
{% endblock %}

{% block script %}
 
{% endblock %}