{% extends 'layout.html' %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Sponsors</th>
            <th>Influencers</th>
            <th>Public Campaigns</th>
            <th>Private Campaigns</th>
            <th>AD Requests Sent</th>
            <th>AD Request Accepted</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{sponsors|length}}</td>
            <td>{{influencers|length}}</td>
            <td>{{public_campaigns}}</td>
            <td>{{private_campaigns}}</td>
            <td>{{request_sponsor|length + request_influencer|length}}</td>
            <td>{{request_accepted_sponsor + request_accepted_influencer}}</td>
        </tr>
    </tbody>
</table>

    <h1 class="display-5">Flagged Users</h1>
    <div class="user-list">
        {% for flag in flagged_users %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{flag.flagged_user.username}}</h5>
              <p class="card-text">
                <strong>Name : </strong>{{flag.flagged_user.name}}
                <br>
                {% if flag.flagged_user.is_sponsor %}
                <strong>Industry : </strong>{{flag.flagged_user.industry}}
                <br>
                <strong>Budget : </strong>&#8377;{{flag.flagged_user.budget}}
                <br>
                <strong>Roll : </strong>Sponsor
                {% else %}
                <strong>Category : </strong>{{flag.flagged_user.category}}
                <br>
                <strong>Niche : </strong>{{flag.flagged_user.niche}}
                <br>
                <strong>Reach : </strong>{{flag.flagged_user.reach}}
                <br>
                <strong>Roll : </strong>Influencer
                {% endif %}
              </p>
              <a href="{{url_for('unflag_user_dashboard', id=flag.id)}}" class="btn btn-success">Unflag</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    <h1 class="display-5">Flagged Campaigns</h1>
    <div class="campaign-list">
        {% for flag in flagged_campaigns %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{flag.flagged_campaign.title}}</h5>
              <p class="card-text">
                <strong>Category : </strong>{{flag.flagged_campaign.category}}
                <br>
                <strong>Start Date : </strong>{{flag.flagged_campaign.start_date}}
                <br>
                <strong>End Date : </strong>{{flag.flagged_campaign.end_date}}
                <br>
                <strong>Sponsor : </strong>{{flag.flagged_campaign.sponsor.username}}
                <br>
                <strong>Status : </strong>{{flag.flagged_campaign.status}}
                <br>
                <strong>Visibility : </strong>{{flag.flagged_campaign.visibility}}
              </p>
                <a href="{{url_for('view_campaign', id=flag.campaign_id)}}" class="btn btn-primary">
                     <i class="fa fa-search" ></i>
                        View
                </a>
              <a href="{{url_for('unflag_campaign_dashboard', id=flag.id)}}" class="btn btn-success">Unflag</a>
            </div>
        </div>
        {% endfor %}

    </div>

{% endblock %}
{% block style %}
    <style>
        .user-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .campaign-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .card {
            margin: 10px;
        }
   
    </style>
{% endblock %}

{% block script %}
    
{% endblock %}