{% extends 'layout.html' %}

{% block title %}

    Requests in Negotiations

{% endblock %}

{% block content %}
    <h1 class="display-2">Requests in Negotiations</h1>
    <div class="request-list">
        {% for request in requests %}
        {% if request.status == 'In Negotiation' or request.status == 'Negotiated' or request.status == 'Negotiation Rejected' %}
        {% if not request.campaign.sponsor.flag or not request.status == 'In Negotiation' %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{request.campaign_title}}</h5>
              <p class="card-text">
                <strong>Requirements : </strong>{{request.requirements}}
                <br>
                <strong>Payment : </strong>{{request.payment}}
                <br>
                {% if request.status == 'In Negotiation' %}
                <strong>Status : </strong>In Negotiation
                {% elif request.status == 'Negotiated' %}
                <strong>Status : </strong>Accepted
                {% elif request.status == 'Negotiation Rejected' %}
                <strong>Status : </strong>Rejected
                {% endif %}
              </p>
            </div>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}

    </div>

{% endblock %}
{% block style %}
    <style>
        .request-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .card {
            margin: 10px;
        }
    </style>
{% endblock %}

{% block script %}
    
{% endblock %}