{% extends 'layout.html' %}

{% block title %}

    Pending Campaigns

{% endblock %}

{% block content %}

    <h1 class="display-2">Pending Campaigns</h1>
    <a href="{{url_for('add_campaign')}}" class="btn btn-success">
        <i class="fas fa-plus    "></i>
        Add</a>

    <table class="table">
        <thead>
            <tr>
                <th>Campaign id</th>
                <th>Campaign Name</th>
                <th>Sent Requests</th>
                <th>Recieved Requests</th>
                <th>Actions</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for campaign in campaigns %}
            {% if campaign.status == 'pending' %}
            <tr>
                {% if campaign.flag %}
                <td>{{campaign.id}}</td>
                <td>{{campaign.title}}</td>
                <td><i class="fas fa-ban"></i></td>
                <td><i class="fas fa-ban"></i></td>
                <td><i class="fas fa-ban"></i></td>
                <td>Flagged</td>
                {% else %}
                <td>{{campaign.id}}</td>
                <td>{{campaign.title}}</td>
                <td>
                    <a href="{{url_for('sent_requests_sponsor', id=campaign.id)}}" class="btn btn-primary">
                        <i class="fas fa-envelope    "></i>
                        {% set ns = namespace(count=0) %}
                        {% for request in campaign.ad_requests_bysponsor %}
                            {% if not request.influencer.flag %}
                                {% set ns.count = ns.count + 1 %}
                            {% endif %}
                        {% endfor %}
                        {{ns.count}}
                    </a>
                </td>
                <td>
                    <a href="{{url_for('recieved_requests_sponsor', id=campaign.id)}}" class="btn btn-primary">
                        <i class="fas fa-envelope   "></i>
                        {% set ns = namespace(count=0) %}
                        {% for request in campaign.ad_requests_byinfluencer %}
                        {% if not request.influencer.flag %}
                            {% if request.status == 'pending' %}
                                {% set ns.count = ns.count + 1 %}
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                        {{ns.count}}    
                    </a>
                </td>
                <td>
                    <a href="{{url_for('view_campaign', id=campaign.id)}}" class="btn btn-primary">
                        <i class="fas fa-search    "></i>
                        View
                    </a>
                    <a href="{{url_for('edit_campaign', id=campaign.id)}}" class="btn btn-primary">
                        <i class="fas fa-edit"></i>
                        Edit
                    </a>
                    <a href="{{url_for('delete_campaign', id=campaign.id)}}" class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                        Delete
                    </a>
                </td>
                {% if campaign.status == 'pending' %}
                <td>Pending</td>
                {% else %}
                <td>{{campaign.status}}</td>   
                {% endif %} 
                {% endif %}            
            </tr>
            {% endif %}
            {% endfor %}
    </table>
        
    
    
{% endblock %}