<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-md-12">
            <form action="" method="GET">
                <div class="input-group">
                    <select name="parameter" id="parameter" class="parameter form-select">
                        <option value="title">Title</option>
                        <option value="category">Category</option>
                    </select>
                    <input type="text" class="form-control" name="query" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>