<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">IESCP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if 'user_id' in session %}
            {% if session['is_sponsor'] == 1 %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('index')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('sponsor_profile')}}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('campaigns')}}">Campaigns</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('find_influencers')}}">Find Influencers</a>
            </li>
            {% elif session['is_influencer'] == 1 %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('index')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('influencer_profile')}}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('recieved_requests_influencer')}}">Recieved Requests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('negotiated_requests_influencer')}}">Requests In Negotiations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('find_campaigns_influencer')}}">Find Campaigns</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('index')}}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('admin_profile')}}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('find_users')}}">Find Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('find_campaigns')}}">Find Campaigns</a>
            </li>
            {% endif %}
          
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('login')}}">Login</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Register
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{url_for('sponsor_register')}}">Sponsor Register</a></li>
              <li><a class="dropdown-item" href="{{url_for('influencer_register')}}">Influencer Register</a></li>
            </ul>
          </li>
          {% endif %}
          
        </ul>
      </div>
    </div>
  </nav>