{% extends 'layout.html' %}

{% block title %}

    Sponsor Dashboard

{% endblock %}

{% block content %}

    <h1 class="display-1">Welcome {{sponsor.username}}</h1>

    <div class="container my-5">
        <div class="cards-list">
        
            <div class="col-md-4">
                <div class="card card-button" onclick="window.location.href='/campaign/new_requests'">
                    <div class="card-body">
                        <h2 class="card-title">{{new_requests}}</h2>
                        <h3 class="card-text">New Requests</h3>
                    </div>
                </div>
            </div>
        
    
        
            <div class="col-md-4">
                <div class="card card-button" onclick="window.location.href='/campaign/negotiations'">
                    <div class="card-body">
                        <h2 class="card-title">{{negotiations}}</h2>
                        <h3 class="card-text">Negotiations</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-button" onclick="window.location.href='/campaign/completed'">
                    <div class="card-body">
                        <h2 class="card-title">{{completed}}</h2>
                        <h3 class="card-text">Completed Requests</h3>
                    </div>
                </div>
            </div>
        
        </div>
    </div>

    <h1 class="display-4">Active Campaigns</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Campaign id</th>
                <th>Campaign Name</th>
                <th>Influencer Username</th>
                <th>Actions</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for campaign in campaigns %}
            {% if campaign.status == 'Active' %}
            <tr>
                <td>{{campaign.id}}</td>
                <td>{{campaign.title}}</td>
                <td>{% for request in campaign.ad_requests_bysponsor %}
                    {% if request.status == 'Accepted' or request.status =='Negotiated' %}
                    {{request.influencer_name}}
                    {% endif %}
                    {% endfor %}
                    {% for request in campaign.ad_requests_byinfluencer %}
                    {% if request.status == 'Accepted' %}
                    {{request.influencer_name}}
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{url_for('view_campaign', id=campaign.id)}}" class="btn btn-primary">
                        <i class="fas fa-search    "></i>
                        View
                    </a>
                </td>
                <td>{{campaign.status}}</td>                
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
      
{% endblock %}

{% block style %}
<style>
    .cards-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card-button {
        border: none;
        background-color:wheat;
        border-radius: 15px;
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;
        margin:0 10px;
        min-width: 250px; /* Minimum width for cards */
        max-width: 330px;
    }
    .card-button:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        background-color:wheat; 
    }
    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 150px;
        text-align: center;
        padding: 10px;
        
    }
    
</style>
  
{% endblock %}
{% block script %}
    
{% endblock %}